<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   version="1.1"
   width="100%"
   height="100%"
    viewBox="0 0 300 400"
    preserveAspectRatio="xMidyMid meet"
   id="keypad">
  <defs
     id="defs4">
    <linearGradient
       id="linearGradient4239">
      <stop
         id="stop4241"
         style="stop-color:#ffffff;stop-opacity:1"
         offset="0" />
      <stop
         id="stop4243"
         style="stop-color:#c2c2c5;stop-opacity:1"
         offset="1" />
    </linearGradient>
    <linearGradient
       id="linearGradient4231">
      <stop
         id="stop4233"
         style="stop-color:#ffffff;stop-opacity:1"
         offset="0" />
      <stop
         id="stop4235"
         style="stop-color:#c2c2c5;stop-opacity:1"
         offset="1" />
    </linearGradient>
    <linearGradient
       x1="5.6474404"
       y1="6.5615416"
       x2="299.31439"
       y2="395.29379"
       id="linearGradient4237"
       xlink:href="#linearGradient4231"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       x1="5.6474404"
       y1="6.5615416"
       x2="299.31439"
       y2="395.29379"
       id="linearGradient4245"
       xlink:href="#linearGradient4239"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       x1="5.6474404"
       y1="6.5615416"
       x2="299.31439"
       y2="395.29379"
       id="linearGradient3472"
       xlink:href="#linearGradient4239"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(1.4015484,-1.398294)" />
    <linearGradient
       x1="5.6474404"
       y1="6.5615416"
       x2="299.31439"
       y2="395.29379"
       id="linearGradient3474"
       xlink:href="#linearGradient4231"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(1.4015484,-1.398294)" />
  </defs>
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer2"
     style="display:inline">
    <rect
       width="299.31442"
       height="393.43845"
       x="2.3427887"
       y="3.280777"
       id="rect4229"
       style="color:#000000;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    <path
       d="m 40.057798,176.97172 c -5.018929,0 -9.0625,4.04357 -9.0625,9.0625 l 0,137.97109 c 0,5.01893 4.043571,9.0625 9.0625,9.0625 l 35.466424,0 c 7.895362,-0.035 14.073905,7.1907 14.073905,14.98953 l 0,32.11408 c 0,5.01893 4.043571,9.0625 9.0625,9.0625 l 40.553423,0 c 5.01893,0 9.0625,-4.04357 9.0625,-9.0625 l 0,-31.40814 c 0,-7.00481 6.77282,-15.69547 13.84178,-15.69547 l 36.87697,0 c 5.01893,0 9.0625,-4.04357 9.0625,-9.0625 l 0,-137.97109 c 0,-5.01893 -4.04357,-9.0625 -9.0625,-9.0625 z"
       id="rect4117"
       style="color:#000000;fill:#ee5704;fill-opacity:1;fill-rule:nonzero;stroke:#f0f912;stroke-width:2;stroke-opacity:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    <rect
       width="177.03827"
       height="154.40932"
       rx="9.0594378"
       ry="9.0594378"
       x="31.00807"
       y="12.254462"
       id="rect3161"
       style="color:#000000;fill:#5e4b3c;fill-opacity:1;fill-rule:nonzero;stroke:#3d3127;stroke-width:2;stroke-opacity:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    <g
       id="up" class="btn arrow">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="94.113716"
         y="16.329132"
         id="rect3015"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="97.944725"
         y="19.989693"
         id="rect3079"
         style="color:#000000;fill:#008600;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <path
         d="m 109.22185,34.717025 4.82529,0 0,10.149751 11.31448,0 0,-10.31614 5.15807,0 -10.14975,-9.983361 z"
         id="path3081"
         style="color:#000000;fill:#ffffff;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    </g>
    <g
       id="down" class="btn arrow">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="94.113716"
         y="125.04237"
         id="rect3013"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="97.944725"
         y="128.70294"
         id="rect3071"
         style="color:#000000;fill:#008600;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <path
         d="m 109.22185,143.39657 4.82529,0 0,-10.14975 11.31448,0 0,10.31614 5.15807,0 -10.14975,9.98336 z"
         id="path3083"
         style="color:#000000;fill:#ffffff;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    </g>
    <g
       id="right" class="btn arrow">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="153.88248"
         y="70.450447"
         id="rect3009"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="157.71349"
         y="74.111015"
         id="rect3077"
         style="color:#000000;fill:#008600;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <path
         d="m 179.29597,78.155716 0,4.82529 -10.14975,0 0,11.31448 10.31614,0 0,5.15807 9.98336,-10.14975 z"
         id="path3085"
         style="color:#000000;fill:#ffffff;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    </g>
    <g
       id="left" class="btn arrow">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="34.344963"
         y="70.450447"
         id="rect3011"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="38.175968"
         y="74.111015"
         id="rect3075"
         style="color:#000000;fill:#008600;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <path
         d="m 59.758447,78.155716 0,4.82529 10.14975,0 0,11.31448 -10.31614,0 0,5.15807 -9.98336,-10.14975 z"
         id="path3087"
         style="color:#000000;fill:#ffffff;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    </g>
    <g
       id="pause" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="94.113716"
         y="70.450447"
         id="rect3001"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="97.944725"
         y="74.111015"
         id="rect3073"
         style="color:#000000;fill:#fc5d09;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="127.15026"
         y="96.805168"
         id="text3089"
         xml:space="preserve"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#f1deb6;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial"><tspan
           x="127.15026"
           y="96.805168"
           id="tspan3091">P</tspan></text>
    </g>
    <g
       id="btn7" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="34.344963"
         y="181.5168"
         id="rect3007"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="38.175968"
         y="185.17737"
         id="rect3065"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="68.703766"
         y="211.40118"
         id="text3093"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="68.703766"
           y="211.40118"
           id="tspan3095">7</tspan></text>
    </g>
    <g
       id="btn8" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="94.113716"
         y="181.5168"
         id="rect2999"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="97.944725"
         y="185.17737"
         id="rect3067"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="128.47252"
         y="211.40118"
         id="text3097"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="128.47252"
           y="211.40118"
           id="tspan3099">8</tspan></text>
    </g>
    <g
       id="btn9" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="153.88248"
         y="181.5168"
         id="rect3005"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="157.71349"
         y="185.17737"
         id="rect3069"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="188.28032"
         y="211.40118"
         id="text3101"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="188.28032"
           y="211.40118"
           id="tspan3103">9</tspan></text>
    </g>
    <g
       id="btn4" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="34.344963"
         y="237.42361"
         id="rect3109"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="38.175968"
         y="241.08418"
         id="rect3111"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="68.703766"
         y="267.30801"
         id="text3117"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="68.703766"
           y="267.30801"
           id="tspan3119">4</tspan></text>
    </g>
    <g
       id="btn5" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="94.113716"
         y="237.42361"
         id="rect3105"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="97.944725"
         y="241.08418"
         id="rect3113"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="128.47252"
         y="267.30801"
         id="text3121"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="128.47252"
           y="267.30801"
           id="tspan3123">5</tspan></text>
    </g>
    <g
       id="btn6" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="153.88248"
         y="237.42361"
         id="rect3107"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="157.71349"
         y="241.08418"
         id="rect3115"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="188.28032"
         y="267.30801"
         id="text3125"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="188.28032"
           y="267.30801"
           id="tspan3127">6</tspan></text>
    </g>
    <g
       id="btn1" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="34.344963"
         y="292.66489"
         id="rect3133"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="38.175968"
         y="296.32547"
         id="rect3135"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="68.703766"
         y="322.54929"
         id="text3141"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="68.703766"
           y="322.54929"
           id="tspan3143">1</tspan></text>
    </g>
    <g
       id="btn2" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="94.113716"
         y="292.66489"
         id="rect3129"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="97.944725"
         y="296.32547"
         id="rect3137"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="128.47252"
         y="322.54929"
         id="text3145"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="128.47252"
           y="322.54929"
           id="tspan3147">2</tspan></text>
    </g>
    <g
       id="btn3" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="153.88248"
         y="292.66489"
         id="rect3131"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="157.71349"
         y="296.32547"
         id="rect3139"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="188.28032"
         y="322.54929"
         id="text3149"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="188.28032"
           y="322.54929"
           id="tspan3151">3</tspan></text>
    </g>
    <g
       id="btn0" class="btn num">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="94.113716"
         y="347.90616"
         id="rect3153"
         style="color:#000000;fill:#ffffff;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="97.944725"
         y="351.56674"
         id="rect3155"
         style="color:#000000;fill:#f0f912;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="128.47252"
         y="377.79056"
         id="text3157"
         xml:space="preserve"
         style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#371e07;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial Bold"><tspan
           x="128.47252"
           y="377.79056"
           id="tspan3159">0</tspan></text>
    </g>
    <path
       d="m 222.37961,12.257956 c -5.01893,0 -9.03125,4.043571 -9.03125,9.0625 l 0,309.982574 c 0.0463,5.52933 -3.76711,11.32993 -11.50299,11.32993 l -36.87201,0 c -5.01893,0 -9.0625,4.04357 -9.0625,9.0625 l 0,31.21875 c 0,5.01893 4.04357,9.0625 9.0625,9.0625 l 56.03125,0 c 0.45563,0.07 0.89917,0.125 1.375,0.125 l 42.6875,0 c 5.01893,0 9.0625,-4.04357 9.0625,-9.0625 l 0,-361.718754 c 0,-5.018929 -4.04357,-9.0625 -9.0625,-9.0625 z"
       id="rect4122"
       style="color:#000000;fill:#5e4b3c;fill-opacity:1;fill-rule:nonzero;stroke:#3d3127;stroke-width:2;stroke-opacity:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    <g
       id="cm" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="216.00433"
         y="15.387886"
         id="rect4127"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="219.83534"
         y="19.048454"
         id="rect4129"
         style="color:#000000;fill:#fc5d09;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="260.41644"
         y="41.742611"
         id="text4131"
         xml:space="preserve"
         style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#f1deb6;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial"><tspan
           x="260.41644"
           y="41.742611"
           id="tspan4133">CM</tspan></text>
    </g>
    <g
       transform="translate(3.3982206,52.723013)"
       id="ce" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="214.60278"
         y="72.319359"
         id="rect4135"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="218.43379"
         y="75.979927"
         id="rect4137"
         style="color:#000000;fill:#0490c5;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="249.78482"
         y="95.684288"
         id="text4139"
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#f1deb6;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial"><tspan
           x="249.78482"
           y="95.684288"
           id="tspan4141">CE</tspan></text>
    </g>
    <g
       transform="translate(3.3982206,109.19745)"
       id="x2" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="214.60278"
         y="72.319359"
         id="rect4151"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="218.43379"
         y="75.979927"
         id="rect4153"
         style="color:#000000;fill:#0490c5;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="247.73404"
         y="95.684288"
         id="text4155"
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#f1deb6;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial"><tspan
           x="247.73404"
           y="95.684288"
           id="tspan4157">x2</tspan></text>
    </g>
    <g
       transform="translate(3.3982206,165.10427)"
       id="test" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="214.60278"
         y="72.319359"
         id="rect4161"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="218.43379"
         y="75.979927"
         id="rect4163"
         style="color:#000000;fill:#0490c5;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="257.90591"
         y="95.684288"
         id="text4165"
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#f1deb6;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial"><tspan
           x="257.90591"
           y="95.684288"
           id="tspan4167">TEST</tspan></text>
    </g>
    <g
       transform="translate(-55.395848,275.58681)"
       id="out" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="214.60278"
         y="72.319359"
         id="rect4171"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="218.43379"
         y="75.979927"
         id="rect4173"
         style="color:#000000;fill:#0490c5;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="254.60074"
         y="95.684288"
         id="text4175"
         xml:space="preserve"
         style="font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#f1deb6;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial"><tspan
           x="254.60074"
           y="95.684288"
           id="tspan4177">OUT</tspan></text>
    </g>
    <g
       transform="translate(3.3982206,220.34554)"
       id="tick" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="214.60278"
         y="72.319359"
         id="rect4181"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="218.43379"
         y="75.979927"
         id="rect4183"
         style="color:#000000;fill:#0490c5;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <path
         d="m 233.66291,314.11182 6.11806,6.11806 9.9756,-17.27824"
         transform="translate(0,-221.74383)"
         id="path4189"
         style="color:#000000;fill:#0490c5;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    </g>
    <g
       transform="translate(3.3982206,275.58681)"
       id="go" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="214.60278"
         y="72.319359"
         id="rect4193"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="218.43379"
         y="75.979927"
         id="rect4195"
         style="color:#000000;fill:#0d7104;fill-opacity:1;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <text
         x="255.47525"
         y="97.836632"
         id="text4197"
         xml:space="preserve"
         style="font-size:20px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:end;text-anchor:end;color:#000000;fill:#f1deb6;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Arial;-inkscape-font-specification:Arial"><tspan
           x="255.47525"
           y="97.836632"
           id="tspan4199">GO</tspan></text>
    </g>
    <g
       transform="translate(3.3982206,-1.8689079)"
       id="pewpew" class="btn">
      <rect
         width="50.826977"
         height="36.70837"
         rx="9.0594378"
         ry="9.0594378"
         x="214.60278"
         y="72.319359"
         id="rect4203"
         style="color:#000000;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <rect
         width="43.164963"
         height="29.387239"
         rx="6.1564059"
         ry="6.1564059"
         x="218.43379"
         y="75.979927"
         id="rect4205"
         style="color:#000000;fill:none;stroke:#000000;stroke-width:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
      <path
         d="m 239.7044,83.007844 c -0.96648,0.03672 -1.92657,0.166743 -2.875,0.375 l 1.8125,8.1875 c 0.31877,-0.0387 0.63954,-0.09375 0.96875,-0.09375 0.61845,0 1.20319,0.08572 1.78125,0.21875 l 1.21875,-8.53125 c -0.9615,-0.135692 -1.93977,-0.19297 -2.90625,-0.15625 z m 7.09375,1.4375 -3.28125,8.0625 c 0.78136,0.438878 1.472,0.990389 2.0625,1.65625 l 6.09375,-6.65625 c -1.43224,-1.311572 -3.07518,-2.332974 -4.875,-3.0625 z m -13.875,0.125 c -1.75345,0.83483 -3.36669,1.980912 -4.71875,3.375 l 5.90625,5.71875 c 0.68821,-0.650766 1.4895,-1.187966 2.375,-1.5625 l -3.5625,-7.53125 z m -6.75,5.65625 c -1.10112,1.599711 -1.90113,3.397905 -2.375,5.28125 l 8.0625,2.03125 c 0.2337,-0.940282 0.62247,-1.818294 1.15625,-2.59375 l -6.84375,-4.71875 z m 27.8125,0.09375 -7.375,5.34375 c 0.004,0.0082 -0.004,0.023 0,0.03125 0.39034,0.724629 0.69257,1.506544 0.84375,2.34375 l 9.0625,-2.53125 c -0.52375,-1.870088 -1.38801,-3.617613 -2.53125,-5.1875 z"
         id="path4213"
         style="color:#000000;fill:#0490c5;fill-opacity:1;stroke:none;stroke-width:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    </g>
    <path
       d="m 17.530316,12.257956 c 5.01893,0 9.03125,4.043571 9.03125,9.0625 l 0,309.982574 c -0.0463,5.52933 3.76711,11.32993 11.50299,11.32993 l 36.87201,0 c 5.01893,0 9.0625,4.04357 9.0625,9.0625 l 0,31.21875 c 0,5.01893 -4.04357,9.0625 -9.0625,9.0625 l -57.743638,0.125 c -5.01893,0 -9.0625001,-4.04357 -9.0625001,-9.0625 l 0,-361.718754 c 0,-5.018929 4.0435701,-9.0625 9.0625001,-9.0625 z"
       id="path4227"
       style="color:#000000;fill:#5e4b3c;fill-opacity:1;fill-rule:nonzero;stroke:#3d3127;stroke-width:2;stroke-opacity:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
  </g>
</svg>
